
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

body {
  background-color: black;
  color: white;
}

/*-------------------------- Navbar----------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid black;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  font-weight:200;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font: weight 8px;
}

.nav-anch {
  display: flex;
  gap: 20px;
  padding-top: 28px;
  padding-left: 64px;
  font-size: large;
}

.nav-anch a{
  color: white;
 text-decoration: none;

}

.nav-anch p{
  color: grey;
}

/*--------------------------------------------- Hero Section--------------------------------- */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  background-color: black;
}

.hero-content span{
  display: inline-block;
  box-sizing: border-box;
  color: #0a49eb;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-content {
  max-width: 100%;
}

.hero-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.hero-content button {
  background-color: #0056ff;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.hero-content button btn{
  color: black;
}

.hero-image img {
  width: 640px;
  border-radius: 10px;
}


